{% extends 'base.html.twig' %}

{% block title %}Hello MainPageController!{% endblock %}

{% block body %}
    <div class="title">
        <h1>fakt cool titulek</h1>
        <div class="input-group search-bar">
            <input type="text" class="form-control" placeholder="search recipe" >
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">search</button>
            </div>
        </div>
    </div>

    <div class="example-wrapper" style="background: #d9d9d1">

        <ul>
            <li>Your controller at <code><a href="{{ '/home/pi/projects/cook-book/app/src/Controller/MainPageController.php'|file_link(0) }}">src/Controller/MainPageController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pi/projects/cook-book/app/templates/main_page/index.html.twig'|file_link(0) }}">templates/main_page/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
