{% extends 'base.html.twig' %}

{% block title %}Hello MainPageController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/recipes.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/recipe-form.css') }}">
{% endblock %}

{% block body %}
    <div class="title-img title">
        <h1>Online kuchařka</h1>
        {{ form_start(form) }}
{#        <form>#}
        <div class="input-group search-bar">
{#            <input type="text" class="form-control" placeholder="search recipe" >#}
            {{ form_widget(form.query) }}
            <div class="input-group-append">
                {{ form_widget(form.search) }}
{#                <button class="btn btn-secondary" type="button">search</button>#}
            </div>
        </div>
        <div class="form-group categories" style="color: white; background-color:rgba(0, 0, 0, 0.5); width: 500px; margin: auto">
            {{ form_row(form.categories.categories) }}
            <div class="secondary-search-bar">
            {{ form_row(form.ingredient) }}
            </div>
        </div>
        {{ form_end(form) }}
{#        </form>#}
    </div>

    <div class="example-wrapper" style="background: #d9d9d1">
        <div class="row">
                {% for p in recipes %}
            <div class="recipe">
                <a href="{{ path('recipe_detail' , {id: p.id}) }}">

                <img src="{{ asset('uploads/' ~ p.getImage) }}" alt="Girl in a jacket" height="200">
                        <div>{{ p.getName }}</div>
                </a>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
