{% extends 'base.html.twig' %}

{% block title %}new recipe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/recipe-form.css') }}">
{% endblock %}
{% block body %}
    <script>
        var counter = 0;
        function myFunction() {
            if (counter <= 10) {
                counter++;
                var id1 = "recipe_form_ingredient".concat(counter.toString())
                var id2 = "recipe_form_ingredient_count".concat(counter.toString())
                var id3 = "recipe_form_ingredient_unit".concat(counter.toString())
                var x = document.getElementById(id1);
                x.style.display = "inline";
                x = document.getElementById(id2);
                x.style.display = "inline";
                x = document.getElementById(id3);
                x.style.display = "inline";
            }
        }
    </script>

    <div class="title-color title">
        <h1>fakt cool titulek</h1>
    </div>

    {{ form_start(form) }}
    <div class="example-wrapper" style="background: #d9d9d1">
        <div class="form-group">
        {{ form_row(form.name) }}
        {{ form_row(form.text) }}
        {{ form_row(form.image) }}
        </div>
    </div>
    <div class="example-wrapper" style="background: #7e7c7c">
        <h2>ingredience</h2>
        <div class="ingredient-list form-group">
            {{ form_widget(form.ingredient1) }}
            {{ form_widget(form.ingredient_count1) }}
            {{ form_widget(form.ingredient_unit1) }}
            {{ form_widget(form.ingredient2) }}
            {{ form_widget(form.ingredient_count2) }}
            {{ form_widget(form.ingredient_unit2) }}
            {{ form_widget(form.ingredient3) }}
            {{ form_widget(form.ingredient_count3) }}
            {{ form_widget(form.ingredient_unit3) }}
            {{ form_widget(form.ingredient4) }}
            {{ form_widget(form.ingredient_count4) }}
            {{ form_widget(form.ingredient_unit4) }}
            {{ form_widget(form.ingredient5) }}
            {{ form_widget(form.ingredient_count5) }}
            {{ form_widget(form.ingredient_unit5) }}
            {{ form_widget(form.ingredient6) }}
            {{ form_widget(form.ingredient_count6) }}
            {{ form_widget(form.ingredient_unit6) }}
            {{ form_widget(form.ingredient7) }}
            {{ form_widget(form.ingredient_count7) }}
            {{ form_widget(form.ingredient_unit7) }}
            {{ form_widget(form.ingredient8) }}
            {{ form_widget(form.ingredient_count8) }}
            {{ form_widget(form.ingredient_unit8) }}
            {{ form_widget(form.ingredient9) }}
            {{ form_widget(form.ingredient_count9) }}
            {{ form_widget(form.ingredient_unit9) }}
            {{ form_widget(form.ingredient10) }}
            {{ form_widget(form.ingredient_count10) }}
            {{ form_widget(form.ingredient_unit10) }}
        </div>
        {{ form_widget(form.next) }}
        {#    <button onclick="myFunction()">add ingredient</button>#}
    </div>
    {{ form_end(form) }}

{% endblock %}
